* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(163, 127, 127);
    .navbar-brand {
        font-weight: bold;
        text-transform: uppercase;
        align-items: center;
        display: inline-flex;
        img {
            width: 3rem;
            margin-right: 1rem;
        }}
}

section {
    padding-top: 2rem;
}

.searching {
    display: flex;
    flex-direction: column;

    .display-section {
        height: fit-content;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        img {
            max-width: 100%;
            height: 1rem;
        }
    }
}