* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(163, 127, 127);
    .navbar-brand {
        font-weight: bold;
        text-transform: uppercase;
        align-items: center;
        display: inline-flex;
        img {
            width: 3rem;
            margin-right: 1rem;
        }}
}